body {
  background-color: rgb(218, 218, 218);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: large;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}

header h1 {
  color: rgb(0, 64, 255);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section li {
  font-size: larger;
  color: rgb(0, 85, 255);
  text-decoration: none;
  margin: 20px;
}

section a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

section a:hover {
  color: rgb(0, 64, 255);
  transition: 0.5s;
  font-size: 22px;
}

section li:hover {
  color: rgb(0, 64, 255);
  transition: 0.5s;
  font-size: 22px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.btn {
  background-color: black;
  color: white;
  padding: 15px 50px;
  border: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5s;
}
